<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.svg' %}">
    <title>FaceLens</title>
</head>

<body class="body-dark">
    <nav class='navbar navbar-light'></nav>
    <div class="bg-blob">
        <div class="blob-1"></div>
    </div>
    <div class="container">
        <div class="top-container">
            <h1 class="header-logo"><span class="logo-image">◆</span>Face<span class="logo-scan">Lens</span></h1>
            <p>Gain meaningful insights from pictures of faces effortlessly through the lens of AI.</p>
        </div>

        <div class="form-container">
            <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <label for="{{ form.image.id_for_label }}" class="label-picture"></label>
                    {{ form.image }}
                    <input type="submit" value="Analyze Image" class="main-button">
                </div>
            </form>
        </div>

        {% if upload %}
        <div class="mt-4 display-container">
            <div class="image-display">
                <img src="/media/ml_output/process.jpg" class="img-fluid zoom" alt="">
            </div>

            <div class="table-display">
                <table class="main-table">
                    <thead>
                        <td class="td-header">Face</td>
                        {% for count in results.count %}
                        <td>
                            <img src="/media/ml_output/roi_{{count}}.jpg" class="table-picture" alt="">
                        </td>
                        {% endfor %}
                    </thead>

                    <tr>
                        <td class="td-header">Emotion</td>
                        {% for emotion_name in results.emotion_name %}
                        <td>{{ emotion_name }}</td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td class="td-header">Gender</td>
                        {% for gender_name in results.gender_name %}
                        <td>{{ gender_name }}</td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td class="td-header">Race</td>
                        {% for race_name in results.race_name %}
                        <td>{{ race_name }}</td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td class="td-header">Age Range</td>
                        {% for age_name in results.age_name %}
                        <td>{{ age_name }} Yrs. Old</td>
                        {% endfor %}
                    </tr>
                </table>
                {% endif %}
            </div>
        </div>
    </div>

    <footer>
        <div class="blob-2"></div>
        <div class="container">
            <div class="footer-line">
                <p>Reynald Jr. All rights reserved © 2024</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/medium-zoom.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>